types = show hide
colors = green red
for type, i in types
	a.{type}-topic
		cursor: pointer
		color: colors[i]

		&:hover
			color: colors[i] !important

//this moves things a bit ...
.last-read
	opacity: 0

tr:hover
	.last-read
		opacity: 1