#posts.advanced
	.tt-last-updated
		display: none

	//change <td> sizes
	.last-post-th
		width: 35px

	.post-author
		width: 10px

	.post-views
		width: 15px

	.post-lastPost
		width: 100px
		text-align: center

		//remove useless >
		.more-arrow
			display: none

	//updates THs
	.post-th
		.poster
			text-align: center
			font-weight: normal //why is that bold ??

		//update the th accordingly
		.replies
			padding-right: 2px
			text-align: center

	//last column
	.post-last-updated
		text-align: right
		padding-right: 5px

	//align replies to get closer to views
	.post-replies
		width: 10px
		text-align: right
		padding-right: 10px

#posts.simple
	.tt-last-updated
		display: inline

	.last-post-th
		display: none

	.post-last-updated
		display: none