#posts.advanced
	.tt-last-updated
		display: none

	.post-author
		width: 10px

	.post-views
		width: 15px

	.post-lastPost
		width: 90px
		text-align: center

		//remove useless >
		.more-arrow
			display: none

	//updates THs
	.post-th
		//update the th accordingly
		.replies
			padding-right: 2px
			text-align: center

		.poster
			text-align: right
			font-weight: normal //why is that bold ??
			padding-right: 5px

		.last-post-th
			width: 35px
			text-align: left

	//last column
	.post-last-updated
		text-align: right
		padding-right: 7px

	//align replies to get closer to views
	.post-replies
		width: 10px
		text-align: right
		padding-right: 10px

#posts.simple
	.tt-last-updated
		display: inline

	.last-post-th
		display: none

	.post-last-updated
		display: none