.view-forum .forum-topics
	.post-pages-cell
		// don't display that fucking arrow
		.last-read-page .last-read-arrow
			display: none

		.pages-wrapper
			// this is so the "hide" (or "unhide") cross/check is not on another line
			display: inline

		.ui-pagination
			// remove the retarded icon_subpaging. who cares.
			background: none