.context-links
	.extra-link
		background-image: none !important
		padding-left: 8px !important
		border-top-left-radius: 0px !important
		border-bottom-left-radius: 0px !important

.ui-context
	// somehow buggy sometimes with 230
	// ie http://eu.battle.net/wow/en/forum/topic/6534004321?page=4#75
	width: 240px !important