.context-links
	.extra-link
		background-image: none !important
		padding-left: 8px !important
		border-top-left-radius: 0px !important
		border-bottom-left-radius: 0px !important

.ui-context
	width: 230px !important