#account-characters
	// this was for context-links
	margin-top: 10px
	margin-left: 30px

	h1
		display: inline

	ul
		list-style: circle
		margin-left: 20px

	a
		font-weight: bold

	.see-messages
		// image from context links
		background-image: url("http://eu.battle.net/wow/static/images/icons/context.gif")
		background-position: 0 -30px
		display: inline-block

		// align with the name
		margin-bottom: -10px
		
		size = 30px
		width: size
		height: size