.outer-ui-context
	display: none
	position: relative
	border: none
	background: none
	box-shadow: none
	top: 0px

	a
		background-color: #1a0f08 !important

.post-character:hover .outer-ui-context
	display: block

.context-link
	// remove the arrow
	background: none

.post-interior
	height: 270px