//updates THs
.post-th
	.replies
		padding-right: 2px
		text-align: center

	.poster
		text-align: right
		font-weight: normal //why is that bold ??
		padding-right: 5px

	.last-post-th
		text-align: left

.tt-last-updated
	display: none

.post-author
	width: 15px

.post-views
	width: 15px

.post-lastPost
	width: 90px
	text-align: center

	//remove useless >
	.more-arrow
		display: none

//align replies to get closer to views
.post-replies
	width: 10px
	text-align: right
	padding-right: 10px

//last column
.post-last-updated
	width: 70px