// ensures there's no background for hide-topic
.post-pages .last-read
	background-image: none !important
	background: none !important

// we won't be givin' any for stickies
tr:not(.stickied) a[data-tooltip]
	display: inline !important