.post-th
	.last-post-th
		display: none

.tt-last-updated
	display: inline

.post-last-updated
	display: none

tbody.regular
	.post-author
		// the "author" column just takes too much place !
		// (no need to no-wrap since there's no whitespace)
		width: 1px