.poster
	font-weight: bold

.own-poster
	text-decoration: underline

#posts.advanced
	.tt-last-updated
		display: none

#posts.simple
	.last-post-th
		display: none

	.post-last-updated
		display: none