.forum
	.forum-actions
		padding: 0px

	.actions-panel
		margin-right: 15px

	.forum-options
		float: right
		right: auto
		position: relative
		margin-top: 25px
		margin-right: 15px

		a
			// replicate an old-style button1
			display: block
			background: url("http://eu.battle.net/wow/static/images/buttons/button-1.png") no-repeat
			background-position: 100% -123px
			height: 20px
			padding: 0 28px 0 0